.logo-futebol {
    background-image: url(../../img/hobbies/icons8-futebol-64.png);
}

.logo-viagem {
    background-image: url(../../img/hobbies/icons8-viagem-100.png);
}

.logo-filmes {
    background-image: url(../../img/hobbies/icons8-pasta-de-filmes-90.png);
}

.logo-tecnologia {
    background-image: url(../../img/hobbies/icons8-itens-de-tecnologia-90.png);
}

.logo-informática {
    background-image: url(../../img/hobbies/icons8-informática-100.png);
}

.logo-mobile {
    background-image: url(../../img/hobbies/icons8-girar-a-tela-100.png);
}