.logo-java {
    background-image: url(../../img/skills/icons8-logo-java-coffee-cup-250.png);
}

.logo-javascript {
    background-image: url(../../img/skills/icons8-javascript-250.png);
}

.logo-html {
    background-image: url(../../img/skills/icons8-html-5-250.png);
}

.logo-css {
    background-image: url(../../img/skills/icons8-css3-250.png);
}

.logo-sql {
    background-image: url(../../img/skills/icons8-sql-100.png);
}

.logo-git {
    background-image: url(../../img/skills/icons8-git-250.png);
}