.sobremim__titulo {
    color: var(--preto-suave);
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    padding-bottom: 1rem;
}
